---
import { getLocalePath } from 'i18n:astro'

import { type CollectionEntry, getCollection } from 'astro:content'

import BackToPrev from '@components/BackToPrev.astro'

import PageLayout from '@layouts/PageLayout.astro'

export async function getStaticPaths() {
  const projects = (await getCollection('uses')).filter((post) => !post.data.draft)
  // .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }))
}
type Props = CollectionEntry<'uses'>

const project = Astro.props
const { Content } = await project.render()
---

<PageLayout title={project.data.title} description={project.data.description}>
  <div class="animate">
    <BackToPrev href={getLocalePath('/uses')}> Back to uses </BackToPrev>
  </div>
  <div class="my-10 space-y-1">
    <div class="animate text-2xl font-semibold text-black dark:text-white">
      {project.data.title}
    </div>
  </div>
  <article class="animate">
    <Content />
  </article>
</PageLayout>
