---
import { getLocale, getLocalePath, t } from 'i18n:astro'

import { getCollection } from 'astro:content'

import Link from '@components/Link.astro'
import Button from '@components/Button.vue'
import ArrowCard from '@components/ArrowCard.astro'
import ArticleCard from '@components/ArticleCard.astro'

import PageLayout from '@layouts/PageLayout.astro'

import { SITE } from '@consts'

const articles = (await getCollection('articles', ({ slug }) => slug.split('/')[0] === getLocale()))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const projects = (await getCollection('projects', ({ slug }) => slug.split('/')[0] === getLocale()))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)
---

<PageLayout title={t('home.title')} description={t('home.description')}>
  <h1 class="animate text-xl font-semibold text-black dark:text-white">{t('home.heading')}</h1>
  <h4 class="animate text-sm font-medium italic text-zinc-500 dark:text-zinc-400">{t('home.legenda')}</h4>
  <div class="space-y-16">
    <section>
      <article class="space-y-4">
        <p class="animate">
          {t('home.paragraph')}
        </p>
      </article>

      <Button to={getLocalePath('/projects')} variant="secondary">
        {t('home.cta.explore')}
      </Button>
      <Button to={getLocalePath('/about')} variant="ghost">
        {t('home.cta.about')}
      </Button>
    </section>

    {
      articles && articles.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold text-black dark:text-white">{t('home.latest_posts.h5')}</h5>
            <Link href={getLocalePath('/articles')}> {t('home.latest_posts.link')}</Link>
          </div>
          <ul class="animate grid grid-cols-1 gap-2 md:grid-cols-2">
            {articles.map((post) => (
              <li>
                <ArticleCard entry={post} />
              </li>
            ))}
          </ul>
        </section>
      )
    }

    {
      projects && projects.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold text-black dark:text-white">{t('home.recent_projects.h5')}</h5>
            <Link href={getLocalePath('/projects')}> {t('home.recent_projects.link')} </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </section>
      )
    }
  </div>
</PageLayout>
