---
import { MobileMenu } from '@components/vue/layout'

import { Link, Navigation } from '@components/astro/layout'

import { ThemeSwitcher } from '@components/react/layout'
---

<header>
  <div class="flex flex-wrap justify-between gap-y-2 px-2">
    <Link href="/">
      <img
        src="/cat_logo.png"
        class="h-12 w-12 cursor-pointer sepia-0 transition-all duration-300 ease-in-out hover:scale-110 hover:sepia"
        alt="cat logo"
      />
    </Link>
    <div class="flex items-center gap-x-3">
      <ThemeSwitcher client:load side={'bottom'} />

      <!-- <MobileMenu client:visible>
        <Navigation slot="navigation" />
      </MobileMenu> -->
    </div>
  </div>
</header>
