---
import { Logo, Navigation, SocialsLinks } from '@components/astro/layout'

import { ThemeSwitcher, LanguageSwitcher } from '@components/react/layout'

const { url } = Astro
---

<div class="sticky top-0 hidden h-screen w-[220px] flex-col justify-between px-4 py-8 md:flex">
  <div>
    <Logo />
    <Navigation />
    <SocialsLinks />
  </div>

  <div class="flex gap-x-1 px-2">
    <ThemeSwitcher client:load side={'right'} />
    <LanguageSwitcher client:load url={url} />
  </div>
</div>
