---
import { t, getLocale } from 'i18n:astro'

import { getCollection } from 'astro:content'

import ArrowCard from '@components/ArrowCard.astro'

import PageLayout from '@layouts/PageLayout.astro'

const projects = (await getCollection('projects', ({ slug }) => slug.split('/')[0] === getLocale()))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<PageLayout title={t('projects.title')} description={t('projects.description')}>
  <div class="space-y-10">
    <h1 class="animate text-xl font-semibold text-black dark:text-white">{t('projects.heading')}</h1>
    <ul class="animate flex flex-col gap-4">
      {
        projects.map((project) => (
          <li>
            <ArrowCard entry={project} />
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
