@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-black/80 dark:text-white/75;
}

header {
  @apply fixed left-0 right-0 top-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-stone-900/25;
  @apply block saturate-200 backdrop-blur-sm md:hidden;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply prose max-w-full dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-p:font-serif;
  @apply prose-headings:text-black prose-headings:dark:text-white;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

code {
  @apply rounded-md p-0.5 text-primary;
}
code::before,
code::after {
  content: '';
}

.animate {
  @apply translate-y-3 opacity-0;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply translate-y-0 opacity-100;
}

html #back-to-top {
  @apply pointer-events-none opacity-0;
}

html.scrolled #back-to-top {
  @apply pointer-events-auto opacity-100;
}

@layer base {
	* {
	  @apply border-border;
	}
  }

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --ring: 240 4.9% 83.9%;

  --custom-gray-50: #000;
  --custom-gray-75: #141414;
  --custom-gray-100: #1d1d1d;
  --custom-gray-200: #303030;
  --custom-gray-300: #4b4b4b;
  --custom-gray-400: #6a6a6a;
  --custom-gray-500: #8d8d8d;
  --custom-gray-600: #b0b0b0;
  --custom-gray-700: #d0d0d0;
  --custom-gray-800: #ebebeb;
  --custom-gray-900: #fff;
  --custom-gray-950: #fff;

  --selection: hsla(0, 0%, 100%, 0.077);
  --border: hsla(0, 0%, 100%, 0.1);

  --page-background: var(--custom-gray-75);

  --heading: var(--custom-gray-900);
  --text-body: var(--custom-gray-800);
  --text-second: var(--custom-gray-600);
  --text-disabled: var(--custom-gray-500);
}


:root {
  --background: 9 0% 100%;
  --foreground: 9 0% 10%;
  --card: 9 0% 100%;
  --card-foreground: 9 0% 15%;
  --popover: 9 0% 100%;
  --popover-foreground: 9 95% 10%;
  --primary: 9 96.4% 55.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 9 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: -29 10% 95%;
  --muted-foreground: 9 0% 40%;
  --accent: -29 10% 90%;
  --accent-foreground: 9 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 9 0% 100%;
  --border: 9 20% 82%;
  --input: 9 20% 50%;
  --ring: 9 96.4% 55.9%;
  --radius: 0.5rem;

  --custom-gray-50: #ffffff;
  --custom-gray-75: #fdfdfd;
  --custom-gray-100: #f8f8f8;
  --custom-gray-200: #e6e6e6;
  --custom-gray-300: #d5d5d5;
  --custom-gray-400: #b1b1b1;
  --custom-gray-500: #909090;
  --custom-gray-600: #6d6d6d;
  --custom-gray-700: #464646;
  --custom-gray-800: #222222;
  --custom-gray-900: #000000;
  --custom-gray-950: #000000;

  --selection: hsla(0, 0%, 0%, 0.045);
  --border: hsla(0, 0%, 0%, 0.09);

  --page-background: var(--custom-gray-50);

  --heading: var(--custom-gray-900);
  --text-body: var(--custom-gray-800);
  --text-second: var(--custom-gray-700);
  --text-disabled: var(--custom-gray-500);
}
/* 

.dark-mode {
	--background: 0, 6%, 10%;
	--foreground: 258 0% 90%;
	--card: 258 0% 5%;
	--card-foreground: 258 0% 90%;
	--popover: 258 10% 5%;
	--popover-foreground: 258 0% 90%;
	--primary: 86, 80%, 63%;
	--primary-foreground: 0 0% 100%;
	--secondary: 0, 1%, 15%;
	--secondary-foreground: 0 0% 100%;
	--muted: 220 10% 15%;
	--muted-foreground: 258 0% 60%;
	--accent: 220 10% 15%;
	--accent-foreground: 258 0% 90%;
	--destructive: 0 50% 30%;
	--destructive-foreground: 258 0% 90%;
	--border: 222, 12%, 32%;
	--input: 258 20% 18%;
	--ring: 258 36.1% 47.8%;
	--radius: 0.5rem;
}
.solarized-mode {
	--background: 0, 6%, 10%
	--foreground: 258 0% 90%;
	--card: 258 0% 5%;
	--card-foreground: 258 0% 90%;
	--popover: 258 10% 5%;
	--popover-foreground: 258 0% 90%;
	--primary: 258 36.1% 47.8%;
	--primary-foreground: 0 0% 100%;
	--secondary: 258 10% 10%;
	--secondary-foreground: 0 0% 100%;
	--muted: 220 10% 15%;
	--muted-foreground: 258 0% 60%;
	--accent: 220 10% 15%;
	--accent-foreground: 258 0% 90%;
	--destructive: 0 50% 30%;
	--destructive-foreground: 258 0% 90%;
	--border: 258 20% 18%;
	--input: 258 20% 18%;
	--ring: 258 36.1% 47.8%;
	--radius: 0.5rem;
} */


/* -- colors --- */
@layer base {
	:root {
	  --gray-50: #ffffff;
	  --gray-75: #fdfdfd;
	  --gray-100: #f8f8f8;
	  --gray-200: #e6e6e6;
	  --gray-300: #d5d5d5;
	  --gray-400: #b1b1b1;
	  --gray-500: #909090;
	  --gray-600: #6d6d6d;
	  --gray-700: #464646;
	  --gray-800: #222222;
	  --gray-900: #000000;
	  --gray-950: #000000;
  
	  --selection: hsla(0, 0%, 0%, 0.045);
	  --border: hsla(0, 0%, 0%, 0.09);
  
	  --page-background: var(--gray-50);
  
	  --heading: var(--gray-900);
	  --text-body: var(--gray-800);
	  --text-second: var(--gray-700);
	  --text-disabled: var(--gray-500);
	}
  
	.dark {
	  --gray-50: #000;
	  --gray-75: #141414;
	  --gray-100: #1d1d1d;
	  --gray-200: #303030;
	  --gray-300: #4b4b4b;
	  --gray-400: #6a6a6a;
	  --gray-500: #8d8d8d;
	  --gray-600: #b0b0b0;
	  --gray-700: #d0d0d0;
	  --gray-800: #ebebeb;
	  --gray-900: #fff;
	  --gray-950: #fff;
  
	  --selection: hsla(0, 0%, 100%, 0.077);
	  --border: hsla(0, 0%, 100%, 0.1);
  
	  --page-background: var(--gray-75);
  
	  --heading: var(--gray-900);
	  --text-body: var(--gray-800);
	  --text-second: var(--gray-600);
	  --text-disabled: var(--gray-500);
	}
}