---
import { useI18n, getLangFromUrl } from '@lib/i18n'

import { getPostInfoList } from '@lib/mdx'

import { SITE } from '@consts'

import { Link } from '@components/astro/layout'

import { ArticleCard } from '@components/astro/modules/article'

import { Button } from '@components/vue/ui/button'

import PageLayout from '@layouts/PageLayout.astro'

const { url } = Astro
const { t, p } = useI18n(url)

const lang = getLangFromUrl(url)

const posts = await getPostInfoList(lang)

const articles = posts.filter((post) => post.type === 'article').slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
const notes = posts.filter((post) => post.type === 'note').slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

const title = t('home.title')
const description = t('home.description')
---

<PageLayout {title} {description}>
  <h1 class="animate text-xl font-semibold">{t('home.heading')}</h1>
  <h4 class="animate text-sm font-medium italic text-muted-foreground/80">{t('home.legenda')}</h4>
  <div class="space-y-16">
    <section>
      <article class="space-y-4">
        <p class="animate">
          {t('home.paragraph')}
        </p>
      </article>
      <Button to={p('/projects')} variant="secondary" classes="animate">
        {t('home.cta.explore')}
      </Button>
      <Button to={p('/about')} variant="ghost" classes="animate">
        {t('home.cta.about')}
      </Button>
    </section>

    {
      notes && notes.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold">{t('home.latest_notes.h5')}</h5>
            <Link href={p('/articles')}> {t('home.latest_notes.link')}</Link>
          </div>
          <ul class="animate grid grid-cols-1 gap-2 md:grid-cols-2">
            {notes.map((note) => (
              <ArticleCard item={note} />
            ))}
          </ul>
        </section>
      )
    }

    {
      articles && articles.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold">{t('home.latest_articles.h5')}</h5>
            <Link href={p('/articles')}> {t('home.latest_articles.link')}</Link>
          </div>
          <ul class="animate grid grid-cols-1 gap-2 md:grid-cols-2">
            {articles.map((article) => (
              <ArticleCard item={article} />
            ))}
          </ul>
        </section>
      )
    }
  </div>
</PageLayout>
