---
import { useI18n, getLangFromUrl } from '@lib/i18n'

import { getPostInfoList } from '@lib/mdx'

import { SITE } from '@consts'

import { Link } from '@components/astro/layout'

import { ProjectCard } from '@components/astro/modules/project'
import { ArticleCard } from '@components/astro/modules/article'

import { Button } from '@components/vue/ui/button'

import PageLayout from '@layouts/PageLayout.astro'

const { url } = Astro
const { t, p } = useI18n(url)

const lang = getLangFromUrl(url)

const articles = (await getPostInfoList(lang)).slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)

// const projects = (await getCollection('projects', ({ slug }) => slug.split('/')[0] === getLocale()))
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE)
---

<PageLayout title={t('home.title')} description={t('home.description')}>
  <h1 class="animate text-xl font-semibold text-black dark:text-white">{t('home.heading')}</h1>
  <h4 class="animate text-sm font-medium italic text-zinc-500 dark:text-zinc-400">{t('home.legenda')}</h4>
  <div class="space-y-16">
    <section>
      <article class="space-y-4">
        <p class="animate">
          {t('home.paragraph')}
        </p>
      </article>
      <Button to={p('/projects')} variant="secondary" classes="animate">
        {t('home.cta.explore')}
      </Button>
      <Button to={p('/about')} variant="ghost" classes="animate">
        {t('home.cta.about')}
      </Button>
    </section>

    {
      articles && articles.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold text-black dark:text-white">{t('home.latest_posts.h5')}</h5>
            <Link href={p('/articles')}> {t('home.latest_posts.link')}</Link>
          </div>
          <ul class="animate grid grid-cols-1 gap-2 md:grid-cols-2">
            {articles.map((post) => (
              <li>
                <ArticleCard item={post} />
              </li>
            ))}
          </ul>
        </section>
      )
    }

    <!-- {
      projects && projects.length > 0 && (
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h5 class="font-semibold text-black dark:text-white">{t('home.recent_projects.h5')}</h5>
            <Link href={getLocalePath('/projects')}> {t('home.recent_projects.link')} </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {projects.map((project) => (
              <li>
                <ProjectCard entry={project} />
              </li>
            ))}
          </ul>
        </section>
      )
    } -->
  </div>
</PageLayout>
