---
import BackToTop from '@components/BackToTop.astro'

import { SITE } from '@consts'
---

<footer class="animate">
  <div class="flex items-center justify-between">
    <div>
      &copy; 2024 {`|`}
      {SITE.NAME}
    </div>
    <BackToTop />
  </div>
</footer>
