---
import { Icon } from 'astro-icon/components'
import { getLocale, getSwitcherData } from 'i18n:astro'

import { langIconResolver } from '@lib/utils'

const locale = getLocale()
const data = getSwitcherData()
---

<select
  class="group mt-1 flex size-8 appearance-none items-center justify-center rounded-full border-gray-300 bg-stone-100 px-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 dark:bg-stone-900"
  onchange="location = this.value;"
>
  {
    data.map((e) => (
      <option
        value={e.href}
        selected={e.locale === locale}
        class="bg-stone-100 px-1.5 py-1 text-black hover:bg-gray-200 dark:bg-stone-800"
      >
        {e.locale}
        <Icon name={langIconResolver['ru'].icon} size={'1.3em'} />
      </option>
    ))
  }
</select>
