---
import Logo from '@components/Logo.astro'
import Navigation from '@components/Navigation.astro'
import Socials from '@components/Socials.astro'

import ThemeSwitcher from '@components/ThemeSwitcher.tsx'
import LanguageSwitcher from '@components/LanguageSwitcher.tsx'

const { url } = Astro
---

<div class="sticky top-0 hidden h-screen w-[220px] flex-col justify-between px-4 py-8 md:flex">
  <div>
	<Logo/>
    <Navigation />
	<Socials/>
  </div>

  <div class="flex gap-x-1 px-2">
    <ThemeSwitcher client:load side={'right'} />
	<LanguageSwitcher client:load url={url}/>
  </div>
</div>
