---
import { useI18n, getLangFromUrl } from '@lib/i18n'

import { getProjectsInfoList } from '@lib/mdx'

import { ProjectCard } from '@components/astro/modules/project'

import PageLayout from '@layouts/PageLayout.astro'

const { url } = Astro
const { t } = useI18n(url)
const lang = getLangFromUrl(url)

const projects = await getProjectsInfoList(lang)
---

<PageLayout title={t('projects.title')} description={t('projects.description')}>
  <div class="space-y-10">
    <h1 class="animate text-xl font-semibold">{t('projects.heading')}</h1>
    <ul class="animate flex flex-col gap-4">
      {
        projects.map((project) => (
          <li>
            <ProjectCard item={project} />
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
