---
import Head from '@components/Head.astro'

import { SITE } from '@consts'

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <div class="relative flex w-full flex-col md:flex-row">
      <slot />
    </div>
  </body>
</html>
