---
import { getHtmlAttrs } from 'i18n:astro'

import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Sidebar from '@components/Sidebar.astro'
import Container from '@components/Container.astro'

import { SITE } from '@consts'

import I18NClient from '@astrolicious/i18n/components/I18nClient.astro'
import I18NHead from '@astrolicious/i18n/components/I18nHead.astro'

type Props = {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html {...getHtmlAttrs()}>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
    <I18NHead />
    <I18NClient />
  </head>
  <body>
    <Header />
    <div class="relative flex w-full flex-col md:flex-row">
      <Sidebar />

      <Container>
        <slot />
        <Footer />
      </Container>
    </div>
  </body>
</html>
